######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.org

######################
# Frontend
######################
node_modules

######################
# DB
######################
src/resources/db/*

######################
# .env
######################
*.env
